@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');

html{
  text-align: center;
  background: #93cd3f;
}
.button {
  margin-top: 20px;
}
.frame{
  padding-top: 2px;
  width: 740px;
  height: 740px;
  margin: 20px auto;
  background: #692781;
  border-radius: 30px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.05), inset 1px 0px 0px rgba(255, 255, 255, 0.05), inset 1px 2px 0px rgba(255, 255, 255, 0.05), inset 2px 1px 0px rgba(255, 255, 255, 0.05), inset 2px 3px 0px rgba(255, 255, 255, 0.05), inset 3px 2px 0px rgba(255, 255, 255, 0.05), inset 3px 4px 0px rgba(255, 255, 255, 0.05), inset 4px 3px 0px rgba(255, 255, 255, 0.05), inset 4px 5px 0px rgba(255, 255, 255, 0.05), inset 5px 4px 0px rgba(255, 255, 255, 0.05), inset 5px 6px 0px rgba(255, 255, 255, 0.05), inset 6px 5px 0px rgba(255, 255, 255, 0.05), inset 6px 7px 0px rgba(255, 255, 255, 0.05), inset 7px 6px 0px rgba(255, 255, 255, 0.05), inset 7px 9px 0px rgba(255, 255, 255, 0.05), inset 8px 7px 0px rgba(255, 255, 255, 0.05), inset 8px 9px 0px rgba(255, 255, 255, 0.05), inset 9px 8px 0px rgba(255, 255, 255, 0.05), inset 0px -1px 0px rgba(0, 0, 0, 0.05), inset -1px 0px 0px rgba(0, 0, 0, 0.05), inset -1px -2px 0px rgba(0, 0, 0, 0.05), inset -2px -1px 0px rgba(0, 0, 0, 0.05), inset -2px -3px 0px rgba(0, 0, 0, 0.05), inset -3px -2px 0px rgba(0, 0, 0, 0.05), inset -3px -4px 0px rgba(0, 0, 0, 0.05), inset -4px -3px 0px rgba(0, 0, 0, 0.05), inset -4px -5px 0px rgba(0, 0, 0, 0.05), inset -5px -4px 0px rgba(0, 0, 0, 0.05), inset -5px -6px 0px rgba(0, 0, 0, 0.05), inset -6px -5px 0px rgba(0, 0, 0, 0.05), inset -6px -7px 0px rgba(0, 0, 0, 0.05), inset -7px -6px 0px rgba(0, 0, 0, 0.05), inset -7px -9px 0px rgba(0, 0, 0, 0.05), inset -8px -7px 0px rgba(0, 0, 0, 0.05), inset -8px -9px 0px rgba(0, 0, 0, 0.05), inset -9px -8px 0px rgba(0, 0, 0, 0.05), 0px 0px 3px rgba(0, 0, 0, 0.3), 2px 2px 3px rgba(0, 0, 0, 0.3);
}
h1{
  margin: 1px;
  padding-top: 10px;
  font-family: 'Love Ya Like A Sister', cursive;
  color: #e2cc0c;
}
.container{
  margin: 2px auto 11px;
  width: 640px;
  height: 640px;
  border-radius: 20px;
  overflow: hidden;
}
.cell {
  background-color: black;
  display: inline-block;
  float: left;
  width: 40px;
  height: 40px;
}
